<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="KidsGuard" value="C:\projects\KidsGuard\KidsGuard\bin\x86\Debug\KidsGuard.exe" />
    <add key="UserName" value="bohan" />
  </appSettings>
</configuration>
