<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="KidsGuard" type="KidsComputerGuard.KidsGuardConfig, KidsGuard" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <KidsGuard sessionTimeout="1800" breakTime="300">
    <BlockedApps>
      <BlockedApp title="asphalt" allowedTime="3600"/>
      <BlockedApp title="tanki" allowedTime="300"/>
      <BlockedApp title="porn" allowedTime="0"/>
      <BlockedApp title="sexy" allowedTime="0"/>
    </BlockedApps>
  </KidsGuard>  
</configuration>
