<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="KidsGuard" type="KidsComputerGuard.KidsGuardConfig, KidsGuard" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <KidsGuard sessionTimeout="1800" breakTime="300" totalComputerTime="10800" totalAllowedTime="3600">
    <MonitoredApps>
      <MonitoredApp title="asphalt" allowedTime="3600"/>
      <MonitoredApp title="tanki" allowedTime="3600"/>
      <MonitoredApp title="porn" allowedTime="0"/>
      <MonitoredApp title="sexy" allowedTime="0"/>
    </MonitoredApps>
  </KidsGuard>  
</configuration>
